2.0 - Chuẩn bị dữ liệu

In [1]:
import pandas as pd
duong_dan = '../data_clean/'

df_thong_tin = pd.read_csv(duong_dan + 'sensor_info_clean.csv')
df_doc_cam_bien = pd.read_csv(duong_dan + 'sensor_readings_clean.csv')
df_bao_tri = pd.read_csv(duong_dan + 'maintenance_log_clean.csv')

df_thong_tin.head()

  sensor_id machine_id location  sensor_type
0     SEN01       MC01    Line1      Current
1     SEN02       MC04    Line1  Temperature
2     SEN03       MC04    Khu A    Vibration
3     SEN04       MC05    Line1    Vibration
4     SEN05       MC05    Khu A    Vibration

2.1 - Thống kê số lượng cảm biến theo từng loại (sensor_type)

In [2]:
so_luong_theo_loai = df_thong_tin['sensor_type'].value_counts()
so_luong_theo_loai

sensor_type
Vibration      7
Temperature    2
Current        1
Name: count, dtype: int64

2.2 - Tìm các bản ghi readings có value hoặc unit bất thường

In [3]:
mask_value_nan = df_doc_cam_bien['value'].isna()
mask_unit_sai = ~df_doc_cam_bien['unit'].isin(['°C', 'mm/s', 'A'])

df_bat_thuong = df_doc_cam_bien[mask_value_nan | mask_unit_sai]
df_bat_thuong.head()

   sensor_id            timestamp  value unit
0     SEN08   2024-01-08 12:23:00    NaN   °C
33    SEN02   2024-01-08 10:11:00    NaN   °C
45     SEN01  2024-01-05 02:44:00    NaN   °C

2.3 - Thống kê số lần bảo trì theo từng machine_id

In [4]:
so_lan_bao_tri = df_bao_tri['machine_id'].value_counts()
so_lan_bao_tri

machine_id
MC01    17
MC05    12
MC02    11
MC04    10
MC03    10
Name: count, dtype: int64