***3.0 - Chuẩn bị dữ liệu***

In [1]:
import pandas as pd
duong_dan = '../data_clean/'

df_thong_tin = pd.read_csv(duong_dan + 'sensor_info_clean.csv')
df_doc_cam_bien = pd.read_csv(duong_dan + 'sensor_readings_clean.csv')
df_bao_tri = pd.read_csv(duong_dan + 'maintenance_log_clean.csv')

df_ket_hop = df_doc_cam_bien.merge(df_thong_tin,on='sensor_id',how='left')

df_ket_hop.head()

  sensor_id            timestamp  value  unit machine_id location sensor_type
0    SEN08   2024-01-08 12:23:00    NaN    °C        NaN      NaN         NaN
1     sen03  2024-01-08 18:46:00   80.0     A        NaN      NaN         NaN
2     SEN09  2024-01-01 20:33:00   25.5  mm/s        NaN      NaN         NaN
3    SEN08   2024-01-07 17:47:00   45.0    °C        NaN      NaN         NaN
4     SEN09  2024-01-09 12:37:00   25.5     A        NaN      NaN         NaN

***3.1 - Tính giá trị đo trung bình theo machine_id × sensor_type***

In [3]:
trung_binh_theo_may_loai = (df_ket_hop.groupby(['machine_id', 'sensor_type'])['value'].mean())
trung_binh_theo_may_loai

machine_id  sensor_type
MC01        Current        38.571429
Name: value, dtype: float64